
body, html {
    height: 100%;
}

div {
  width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  color: white;
    text-align: center;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  width: 200px;
  text-align: center;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

#color1 {
    background: #f4d0c8;
}

#color2 {
    background: #fce1db;
    color: white;
}